DATABASE_URL=to_define
DIRECT_URL=to_define

BETTER_AUTH_SECRET=to_define

BETTER_AUTH_URL="http://localhost:8000"
CLIENT_ORIGIN="http://localhost:5173"

B2_KEY_ID=to_define
B2_APPLICATION_KEY=to_define
B2_BUCKET_NAME=Brainleaf

WORKER_INTERNAL_TOKEN=to_define

REDIS_HOST=dev-redis
REDIS_PORT=6379

HOST=0.0.0.0
PORT=8000