B2_KEY_ID=to_define
B2_APPLICATION_KEY=to_define
B2_BUCKET_NAME=Brainleaf

GEMINI_API_KEY=to_define

WORKER_INTERNAL_TOKEN=to_define

BACKEND_URL=http://localhost:8000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379